.form__slider.slider
    h3.slider__title CBD, %
    #slider-cbd.slider__cbd
    .slider__container.slider__container--oneinput
        input(type="text" id="cbd_max").slider__input.slider__input--small