.form__slider.slider
    h4.slider__title Price Range, $
    #slider-price.slider__price
    .slider__container
        input(type="text" id="price_min").slider__input
        input(type="text" id="price_max").slider__input