.form__slider.slider
    h3.slider__title THC, %
    #slider-thc.slider__thc
    .slider__container.slider__container--oneinput
        input(type="text" id="thc_max").slider__input.slider__input--small