@use '../../../lib/scss/_flex.scss' as flex;

.header {
    min-height: 48px;
    
}

.header__container {
    @include flex.row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding-bottom: 16px;
}

.header__logo {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1%;
    font-weight: 700;
}