@use '../../../config/scss/_breakpoints.scss' as breakpoints;

.filters {
    max-width: 768px;
    margin: 0 auto;
    padding-bottom: 24px;

    @media (min-width: breakpoints.$md) {
        max-width: 1024px;
    }

    @media (min-width: breakpoints.$lg) {
        max-width: none;
    }

 
}