@use "../../../lib/scss/_flex.scss" as flex;
@use "../../../config/scss/_font.scss" as font;

.form {
    @include flex.col;
    gap: 24px;
}

.form__sliders {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.form__container {
    @include flex.row;
    align-items: center;
    gap: 10px;
}

.form__result-value {
    padding-right: 20px;
    font-weight: font.$weight-semibold;
    line-height: 135%;
    align-self: flex-start;
    flex-shrink: 0
}

.form__badge {
    @include flex.row;
    flex-wrap: wrap;
    gap: 10px;
}
