@use "../../../lib/scss/_flex.scss" as flex;

.sort__button {
    background: #353542;
    border: none;
    width: 48px;
    height: 48px;
    @include flex.row;
    @include flex.center;
}

.sort__container {
    border: 1px solid rgba(107, 171, 43, 0.5);
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 17px;
    overflow: hidden;
    transition: box-shadow 0.2s ease, transform 0.2s ease;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            box-shadow: 0px 2px 10px rgba(132, 213, 44, 0.2);
        }

        &:active {
            transform: translateY(1px);
        }
    }
}

.sort__title {
    font-size: 18px;
    padding-bottom: 10px;
}

.sort__list {
    @include flex.col;
    gap: 10px;
    border-radius: 10px;
    min-width: 217px;
    box-shadow: 0 10px 25px 0 rgba(15, 15, 23, 0.63);
    background: #212129;
    max-height: 0;
    overflow-y: hidden;
}

.sort__item {
    @include flex.row;
    gap: 10px;
}

.sort__list.visible {
    max-height: 1000px;
    padding: 20px;
}

.sort__icon-button {
    width: 24px;
    height: 24px;
}

.sort__icon {
    width: 24px;
    height: 24px;
    object-fit: cover;

    &--price-low-first {
        transform: rotate(180deg);
    }

    &--total-thc-high-first {
        position: relative;
        width: 30px;
        height: 30px;
        use {
            transform: scale(2.3) translate(-4.5px, -1px);
            position: relative;
            left: 1px;
        }
    }

    &--total-thc-low-first {
        position: relative;
        width: 30px;
        height: 30px;
        use {
            transform: scale(1.4) translate(-0.5px, 1px);
            position: relative;
            left: 1px;
        }
    }

    &--total-cbd-high-first {
        position: relative;
        width: 30px;
        height: 30px;
        use {
            transform: scale(2.3) translate(-4.5px, -1px);
            position: relative;
            left: 1px;
        }
    }

    &--total-cbd-low-first {
        position: relative;
        width: 30px;
        height: 30px;
        use {
            transform: scale(1.4) translate(-0.6px, 1px);
            position: relative;
            left: 1px;
        }
    }
}

.sort__description {
    @include flex.row;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            text-shadow: 3px 2px 5px rgba(132, 213, 44, 0.5);
            opacity: 0.8;
        }

        &:active {
            transform: translateY(1px);
        }
    }
}

.sort__input {
    display: none;
}
