@use "../../../lib/scss/_flex.scss" as flex;

.sort__button {
    background: #353542;
    border: none;
    width: 48px;
    height: 48px;
    @include flex.row;
    @include flex.center;
}

.sort__icon {
    width: 24px;
    height: 24px;
}

.sort__container {
    border: 1px solid rgba(107, 171, 43, 0.5);
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 17px;
    overflow: hidden;
    transition: box-shadow 0.2s ease, transform 0.2s ease;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            box-shadow: 0px 2px 10px rgba(132, 213, 44, 0.2);
        }

        &:active {
            transform: translateY(1px);
        }
    }
}

.sort__title {
    font-size: 18px;
    padding-bottom: 10px;
}

.sort__list {
    @include flex.col;
    gap: 10px;
    border-radius: 10px;
    min-width: 217px;
    box-shadow: 0 10px 25px 0 rgba(15, 15, 23, 0.63);
    background: #212129;
    max-height: 0;
    overflow-y: hidden;
}

.sort__list.visible {
    max-height: 1000px;
    padding: 20px;
}

.sort__description {
    @include flex.row;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;

    &::before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
    }

    &--date-new-first,
    &--date-old-first {
        &::before {
            background-image: url("../assets/media/calendar.svg");
        }
    }
    &--price-high-first,
    &--price-low-first {
        &::before {
            background-image: url("../assets/media/arrow_sort.svg");
        }
    }
    &--price-low-first {
        &::before {
            transform: rotate(180deg);
        }
    }

    &--total-thc-high-first {
        &::before {
            width: 28px;
            height: 28px;
            background-image: url("../assets/media/thc_green.svg");
            background-size: 62px 62px;
            background-position: -9px -1px;
        }
    }

    &--total-thc-low-first {
        &::before {
            width: 28px;
            height: 28px;
            background-image: url("../assets/media/thc_red.svg");
            background-position: 1px 3px;
            background-size: 36px 36px;
        }
    }

    &--total-cbd-high-first {
        &::before {
            width: 28px;
            height: 28px;
            background-image: url("../assets/media/cbd_green.svg");
            background-size: 62px 62px;
            background-position: -9px -1px;
        }
    }

    &--total-cbd-low-first {
        &::before {
            width: 28px;
            height: 28px;
            background-image: url("../assets/media/cbd_red.svg");
            background-position: 1px 3px;
            background-size: 36px 36px;
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            text-shadow: 3px 2px 5px rgba(132, 213, 44, 0.5);
            opacity: 0.8;
        }

        &:active {
            transform: translateY(1px);
        }
    }
}

.sort__input {
    display: none;
}
