label(for="search").header__search.search
    span.search__title.visually-hidden Поиск по сайту.
    svg.search__icon
        use(xlink:href="./assets/icons/default/sprite.svg#search")
    input.search__input#search(type="text" placeholder="Search for a product, flower, etc")