extends ../core/ui/layout/templates/default.pug

block title 
    | Marketplace

block beforeWorkarea
    include ../sections/header.pug

block workarea
    main.main-container
        h1.visually-hidden Marketplace - сервис по продаже пахучих растений
        include ../sections/filter.pug