@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;
@use '../core/ui/layout';
@use '../core/config/scss/_colors.scss' as colors;
@use '../core/config/scss/_font.scss' as font;
//blocks
@use '../core/ui/scss/header/header.scss';
@use '../core/ui/scss/header/search.scss';
@use '../core/ui/scss/header/plant-type.scss';
//global
@use '../core/ui/scss/fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: config.$colors-white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: config.$colors-black;
  }    
}

html {
  scroll-behavior: smooth;
  height: 100dvh;
}

body {
  height: 100dvh;
  background-color: colors.$semi-black;
  font-family: font.$primary;
  font-style: normal;
  font-weight: font.$weight;
  font-size: font.$size;
  line-height: normal;
  color: colors.$white;
  margin: 0;
  text-wrap: balance;
  min-height: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}