.option__element.size
    .option__container
        h3.option__title Size
        button.option__button(type="button")
            span.visually-hidden выбрать размер
            svg.option__icon
                use(xlink:href="./assets/icons/default/sprite.svg#arrow_options")
    ul.option__list
        - var idCounter = 0
        each item in ['Flower', 'Pre-Roll Flower', 'Pre-Roll Infused', 'Pre-Roll Leaf', 'Shake', 'Smalls', 'Trim', 'Keef', 'Fresh Frozen']
            - var id = 'size-' + idCounter++
            li.option__item
                label.option__label(for=id)
                    input.option__input(type="checkbox" name="size" value=item.replace(' ', '-').toLowerCase() id=id)
                    span.option__description= item