.option__element.production-method
    .option__container
        h3.option__title Production Method
        button.option__button(type="button")
            span.visually-hidden выбрать метод взращивания
            svg.option__icon
                use(xlink:href="./assets/icons/default/sprite.svg#arrow_options")
    ul.option__list
        - var idCounter = 0
        each method in ['Indoor', 'Outdoor', 'Greenhouse', 'Light Deprivation', 'Mixed Light', 'Other']
            - var id = 'production-method-' + idCounter++
            li.option__item
                label.option__label(for=id)
                    input.option__input(type="checkbox" name="production-method" value=method.replace(' ', '-').toLowerCase() id=id)
                    span.option__description= method