header.header
    .header__container
        include ../core/ui/components/header/logo.pug
        include ../core/ui/components/header/search_bar.pug
    //- include ../core/ui/components/header/plant-type.pug
    //- +plant-type