include ./plant-type-element.pug

mixin plant-type
    .header__plant-type.plant-type
        +plantTypeElement('buds', 'Buds')
        +plantTypeElement('edible', 'Edible')
        +plantTypeElement('non-edible', 'Non Edible')
        +plantTypeElement('concentrate', 'Concentrate')