

mixin plantTypeElement(id, label)
  div.plant-type__item
    label.plant-type__label(for=id)
        input.plant-type__input(type="checkbox" id=id)
        svg.plant-type__icon
            use(xlink:href="./assets/icons/default/sprite.svg#cannabis")
        span.plant-type__description= label

        assets/media/spiks-logo.svg