@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;
@use '../../config/scss/_breakpoints.scss' as breakpoints;
@use '../../config/scss/_colors.scss' as colors;

.layout {
  display: flex;
  min-height: 200vh;
  flex-direction: column;
  min-width: breakpoints.$sm;
  max-width: breakpoints.$xxl;;
  min-height: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;


  &__header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: colors.$semi-black;
  }


  &__main {
    flex-grow: 1;
  }

  &__footer {
    margin-top: auto;
    min-height: 128px;
  }
}
